.signup-page {
  display: flex;
  width: 393px;
  box-sizing: border-box;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 0px 2px #808993;
  margin: auto 2px;
}

.signup-header {
  display: flex;
  align-items: end;
  box-sizing: border-box;
  height: 111px;
  padding: 8px 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 10;
  gap: 36.36px;
}

.back-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.header-title {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  width: 178.28px;
  padding-bottom: 6.77px;
  text-align: center;
  font-family: 'TTLaundryGothicB', sans-serif;
}

.signup-form-container {
  background-color: #ffffff;
  height: 100%;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.signup-form {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 20px;
}

.input-group {
  margin: 0px;
}

.id-input-group label {
  font-size: 14px;
  font-weight: 500;
  color: black;
  display: block;
  padding-bottom: 12px;
}
.input-group label {
  font-size: 14px;
  font-weight: 500;
  color: black;
  display: block;
  padding-bottom: 12px;
}

.input-with-button {
  display: flex;
  gap: 10px;
}

.id-input-group input {
  flex-grow: 1;
  height: 40px;
  width: 252.65px;
  box-sizing: border-box;
  border: 1px solid var(--color-gray300);
  border-radius: 5px;
  font-size: 16px;
  padding: 10px 20px;
  color: var(--color-gray);
}

.input-group input {
  flex-grow: 1;
  height: 40px;
  width: 353px;
  box-sizing: border-box;
  border: 1px solid var(--color-gray300);
  border-radius: 5px;
  font-size: 16px;
  padding: 10px 20px;
  color: var(--color-gray);
}

.input-group input:focus,
.id-input-group input:focus {
  outline: none;
  border: 2px solid var(--color-gray300);
}

.check-button {
  background-color: var(--color-primary);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  white-space: nowrap;
  height: 40px;
  width: 88px;
  padding: 11.5px 22px;
  box-sizing: border-box;
}

.check-button:hover {
  background-color: #394ed3;
}

.password-info {
  font-size: 10px;
  color: #9ea4aa;
  margin: 0px;
  padding-top: 7px;
  padding-bottom: 237.39px;
}

.user-type-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

.user-type-button {
  background-color: #e8ebed;
  width: 172px;
  height: 50px;
  padding: 14.37px 58.09px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  color: #72787f;
  font-weight: bold;
  border: none;
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.25);
}

.user-type-button.active {
  background-color: var(--color-primary);
  color: white;
}

.terms-group {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.checkbox {
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox.checked {
  background-color: #007bff;
  border-color: #007bff;
}

.checkmark {
  color: #fff;
  font-size: 14px;
  display: none;
}

.checkbox.checked .checkmark {
  display: block;
}

.terms-text {
  flex-grow: 1;
  font-size: 15px;
}

.terms-link {
  font-size: 20px;
  color: #888;
}

.bank-input .input-group {
  padding-bottom: 12px;
}
.bank-input {
  padding-bottom: 389px;
}

.bank-select {
  flex-grow: 1;
  height: 40px;
  width: 353px;
  box-sizing: border-box;
  border: 1px solid var(--color-gray300);
  border-radius: 5px;
  font-size: 16px;
  padding: 10px 20px;
  color: var(--color-gray);
}

.signup-button {
  bottom: 34.25px;
  width: 353px;
  height: 55px;
  background-color: #1d366f;
  color: white;
  padding: 16px;
  box-sizing: border-box;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signup-button:hover {
  background-color: #142752;
}
