/* 카드 전체 */
.promo-card {
  padding: 20.3px;
  padding-top: 32px;
  padding-bottom: 43px;
  box-sizing: border-box;
  width: 353px;
  height: 356px;
  box-shadow: 0px 0px 2px #808993;
  border-radius: 10px;
  background: white;
  margin: 0;
}

/* 상단 이미지 */
.promo-image {
  width: 312.4px;
  height: 150px;
  border-radius: 10px;
  object-fit: cover;
  display: block;
}

/* 카드 내부 */
.promo-body {
  padding-top: 16px;
  width: 312.4px;
  height: 115px;
}

/* 상단 (식당명 + 카테고리) */
.promo-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.promo-name {
  font-size: 20px;
  font-weight: bold;
  color: #1d366f; /* 진한 네이비 */
  margin: 0px;
}

.promo-category {
  font-size: 20px;
  font-weight: 600;
  color: #6075ff; /* 파란 포인트 */
  margin: 0px;
}

/* 정보 (주소/날짜) */
.promo-info {
  padding-top: 9px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.info-item {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #808993;
  margin: 0px;
  gap: 4px;
}
