.written-review-page {
  padding: 20px;
}

.review-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.review-item {
  background-color: #fff;
  padding-top: 16px; /* 위쪽 여백 */
  padding-bottom: 20px; /* 아래쪽 여백 */
}

.review-title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 6px; /* 상호명 → 닉네임 간격 */
}

.review-nickname {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.14px;
  margin-bottom: 10px; /* 닉네임 → 별점 간격 */
}

.star-wrapper {
  display: flex;
  gap: 2px;
  align-items: center;
  margin-bottom: 12px; /* 별점 → 리뷰 내용 간격 */
}

.star-icon {
  width: 24px;
  height: 24px;
}

.review-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.14px;
}
