/* 카드 타이틀, 큰 본문 */
@font-face {
  font-family: 'EliceDigitalBaeum';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_elice@1.0/EliceDigitalBaeum-Bd.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* 헤드라인 */
@font-face {
  font-family: 'TTLaundryGothicB';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2')
    format('woff2');
  font-weight: 700;
  font-style: normal;
}
