/* 전체 페이지 레이아웃 설정 */
.post-detail-container {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  background-color: white;
  max-width: 450px;
  width: 100%;
  height: 100svh;
  outline: 1px solid var(--color-outline);
  overflow: hidden;
  position: relative;
}

/* 이미지 컨테이너 */
.image-container {
  width: 100%;
  height: 127px;
  overflow: hidden;
}

.main-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(5px);
  opacity: 80%;
}

.back-button {
  position: absolute;
  top: 8px;
  left: 20px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
}

.detail-info {
  box-sizing: border-box;
  padding: 37.69px 33.53px 16px;
  background-color: white;
  position: relative;
  height: 188.3px;
  border-bottom: 3px solid #f4f6fa;
}

/* 상세 콘텐츠 영역 */
.detail-content {
  padding: 36px 34px;
  background-color: white;
}

/* 스토어 정보 섹션 */
/* 폰트 높이 고려 */
.store-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  bottom: 18.667px;
}

.store-thumbnail-container {
  border-radius: 10px;
}

.store-thumbnail {
  width: 85px;
  height: 85px;
  border-radius: 12px;
  object-fit: cover;
}

.store-name {
  font-size: 20px;
  font-weight: bold;
  font-family: 'TTLaundryGothicB', sans-serif;
}

.store-category {
  color: #6075ff;
  font-size: 16px;
  padding: 8px 0px;
  font-family: 'EliceDigitalBaeum', sans-serif;
}

.store-details {
  display: flex;
  flex-direction: column;
  gap: 4.3px;
}

.detail-item {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  color: #808993;
  margin: 0;
}

.detail-item span {
  font-weight: 500;
}

.section-title {
  font-size: 16px;
  font-weight: bold;
  color: black;
  padding: 0px;
  padding-bottom: 16px;
}

.promotion-text {
  font-size: 14px;
  color: #808993;
}

.promotion-text p {
  line-height: 1.6;
  font-size: 0.95rem;
  color: #555;
  margin: 0;
}

/* 추가 정보 섹션 */
.additional-info {
  position: absolute;
  bottom: 0px;
  padding: 21px;
  width: 100%;
  font-size: 10px;
  color: var(--color-gray300);
  box-shadow: none;
  height: 150px;
  background-color: var(--color-ghostwhite);
}

.additional-info p {
  margin: 0;
  white-space: pre-wrap;
}

.apply-button-wrapper {
  z-index: 200;
  position: absolute;
  bottom: 34px;
  width: 100%; /* 부모(post-detail-container)의 너비를 꽉 채움 */
  justify-content: center; /* 자식 요소(버튼)를 가운데로 정렬 */
}
