/* 전체 레이아웃 */
.home-container {
  display: flex; /* Flexbox를 사용하여 자식 요소를 배치 */
  flex-direction: column; /* 세로 방향으로 나열 */
  width: 393px;
  height: 917.33px;
  margin: 0 auto;
  box-shadow: 0px 0px 2px #808993;
}

/* 상단 헤더 (고정) */
.home-header {
  height: 111px;
  align-content: end;
  box-shadow: 0px 1px 3px -1px #c0c5c7;
  flex-shrink: 0; /* 헤더의 크기가 줄어들지 않도록 설정 */
}

/* 스크롤 가능한 콘텐츠 영역 */
.home-content-wrapper {
  flex-grow: 1; /* 남은 공간을 모두 차지 */
  overflow-y: auto; /* 이 영역에만 세로 스크롤 허용 */
  -webkit-overflow-scrolling: touch; /* iOS에서 스크롤 부드럽게 */
}

.home-content-wrapper::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

/* 바디 (기존 home-body는 스크롤 영역의 내부 콘텐츠) */
.home-body {
  padding: 20px;
  height: 890px;
  box-sizing: border-box;
  align-items: center;
}

.bottom-nav-container {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 393px;
  flex-shrink: 0; /* 네비게이션의 크기가 줄어들지 않도록 설정 */
}

.logo-home {
  padding-left: 20px;
  padding-bottom: 15.01px;
}
.welcome-msg {
  margin: 0px;
  padding-top: 6px;
  padding-bottom: 24px;
  font-size: 20px;
  font-weight: bold;
}
.banner {
  border-radius: 10px;
  width: 353px;
  height: 169px;
}
.section-title {
  margin: 0px;
  padding-top: 24px;
  padding-bottom: 12.25px;
  font-size: 20px;
  font-weight: bold;
  color: #1d366f;
}
.carousel-container {
  width: 100%;
}
.arrow-btn {
  position: absolute;
  top: 232px;
  z-index: 10;
  border: none;
  cursor: pointer;
  background-color: white;
}
.arrow-btn.prev {
  left: 8.3px;
}
.arrow-btn.next {
  right: 8.3px;
}
.slick-dots {
  height: 4px;
  bottom: 30px;
}
.slick-dots li button:before {
  font-size: 4px;
  color: c0c5c7;
}
.slick-dots li.slick-active button:before {
  color: #808993;
}
.empty-promo {
  box-sizing: border-box;
  width: 353px;
  height: 356px;
  text-align: center;
  padding: 68.5px 0px;
  box-shadow: 0px 0px 2px #808993;
  border-radius: 10px;
  background-color: white;
}
.empty-icon {
  margin: 0px;
  padding-bottom: 16px;
}
.empty-promo p {
  font-size: 16px;
  color: #808993;
  margin: 0px;
  padding-bottom: 56px;
}
.go-btn {
  margin: 0px;
}
.go-btn button {
  display: flex;
  width: 100%;
  height: 24px;
  background-color: white;
  padding: 0px;
  border: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.go-btn span {
  font-size: 12px;
  color: #808993;
}
/* SNS 버튼 */

.sns-btn {
  margin: 24px 0;
}

.sns-btn button {
  display: flex;

  width: 100%;

  height: 84px;

  background-color: #1d366f;
  padding: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  align-items: center;
}

.sns-btn-logo {
  padding-right: 12px;
}

.sns-btn-content {
  width: 155px;
  color: white;

  font-size: 16px;
}

.sns-btn-arrow {
  padding-left: 84px;
}

.sns-btn button:hover {
  background-color: #142752;
}
